.container {
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) repeat(8, 1fr) minmax(6rem, 1fr);
  grid-template-rows: repeat(4, min-content);
  grid-row-gap: 1.6rem;
  background-color: color(tertiary);
}
